body {
    background-image: url("img/coding1.jpg");
    /* background-size: 1100px; */
    background-size: 100%;
    background-color: #ece5e5;
}

.button {
    background-color: #331699;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 5px 2px;
    cursor: pointer;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}