{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'list.css' %}" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
                <h2>CV DATABASE</h2>

           
        <br>
        {% for profile in profile %}
        
            <h2 style="color:white;">Name:-<i>{{profile.name}}</i></h2>
            <h2 style="color:white;">Email:-<i>{{profile.email}}</i></h2>
            <br>
            <br>
            <a href="/{{profile.id}}" class="buttonDownload"  >DOWNLOAD CV</a>
           
        
        {% endfor %}
    
</body>
</html>